@model Zoo_w57047.Entity.Animal

@{
    ViewData["Title"] = "Delete";
}
<h1 class="page-title">What's going on with our resident?</h1>

<div style="text-align: end;">
    <input class="btn btn-dark" type="button" value="Back to List" onclick="location.href='@Url.Action("Index", "Aviaries")'" />
</div>

<div class="row-12" style="display:flex;">
    <hr />
    <div class="col-6"  style="text-align:center;">
        <img src="~/assets/images/unnamed.png" style="max-width: 80%;" />
    </div>
    <div class="col-6">
        <dl class="row" style="margin-top:50px;">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ArrivalDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>
